advertise {
    http = "{{ ansible_eth0.ipv4.address  }}:4646"
    rpc = "{{ ansible_eth0.ipv4.address  }}:4647"
    serf = "{{ ansible_eth0.ipv4.address }}:4648"
}

server {
    enabled = "true"
    bootstrap_expect = "{{ nomad_server_bootstrap_expect|to_json }}"
}

telemetry {
    statsd_address = "172.16.107.112:8125"
}
