[Unit]
Description=Consul Agent
Wants=basic.target
After=basic.target network.target

[Service]
User=consul
Group=consul
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul/conf.d >> /var/log/consul/agent.log

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
